#modal
{
background-color: rgba(0,0,0,0.7);
height: 100%;
width: 100%;
position: fixed;
top: 0px;
left: 0px;
display: none;
}
#modal-form
{
background-color: white;
width: 30%;
height: auto;
margin-left: 30%;
margin-top: 100px;
border-radius: 8px;
padding: 10px;
position: absolute;
}
#close-btn
{
background-color: red;
color: white;
width: 30px;
height: 30px;
position: absolute;
top: -15px;
right: -15px;
text-align: center;
border-radius: 8px;
cursor: pointer;
}